@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Membros.ImpressaoModel

@{
    ViewData["Title"] = "Detalhes do membro";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<hr /><br /><br /><br />
<div class="row">
    <div class="col-4">
        <img src="~/imagens/ACJR - LOGOO FUNDO BRANCO.jpg" height="200" />
        <br /><br /><br /><br />
        <h5>Acqua Jr. Soluções em Aquicultura</h5>
        @*<h6>26.543.230/0001-90</h6>*@
        <h6>
            Rodovia BR 482 Cachoeiro x Alegre Km 47 <br />
            Caixa Postal 47 - CEP 29500-000 <br />
            Rive - Alegre - Espírito Santo
        </h6>
    </div>

    <div class="col-8">
        <h1 class="display-3">@Model.MembroVM.Nome</h1>
        <h3>@Model.MembroVM.Cargo</h3>
        <hr />
        <div class="row">
            <div class="col-6">
                <label>Telefone</label>
                <p class="typography-subheading">@Model.MembroVM.Telefone</p>
            </div>
            <div class="col-6">
                <label>E-mail</label>
                <p class="typography-subheading">@Model.MembroVM.Email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>CPF</label>
                <p class="typography-subheading">@Model.MembroVM.Cpf</p>
            </div>
            <div class="col-6">
                <label>Data de nascimento</label>
                <p class="typography-subheading">@Model.MembroVM.DataNascimento</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Logradouro</label>
                <p class="typography-subheading">@Model.MembroVM.Logradouro</p>
            </div>
            <div class="col-6">
                <label>Bairro</label>
                <p class="typography-subheading">@Model.MembroVM.Bairro</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Cidade</label>
                <p class="typography-subheading">@Model.MembroVM.Cidade</p>
            </div>
            <div class="col-6">
                <label>CEP</label>
                <p class="typography-subheading">@Model.MembroVM.Cep</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Estado</label>
                <p class="typography-subheading">@Model.MembroVM.Estado</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Curso</label>
                <p class="typography-subheading">@Model.MembroVM.Curso</p>
            </div>
            <div class="col-6">
                <label>Matrícula</label>
                <p class="typography-subheading">@Model.MembroVM.MatriculaAcademica</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Data de entrada</label>
                <p class="typography-subheading">@Model.MembroVM.DataEntrada</p>
            </div>
            <div class="col-6">
                <label>Data de saida</label>
                <p class="typography-subheading">@Model.MembroVM.DataSaida</p>
            </div>
        </div>
    </div>
</div>
    
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<div class="text-center">
    _____________________________________________________________________
    <p class="typography-title">@Model.MembroVM.Nome</p>
    <p class="typography-subheading">@Model.MembroVM.Cargo</p>
</div>

<script>
    $(document).ready(function () {
        $('footer').remove()
        window.print()
    })
</script>
