@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Membros.InativosModel

@{
    ViewData["Title"] = "Membros inativos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create" type="button" class="btn btn-light btn-outline-success">
        <i class="material-icons">add</i>
        Novo membro
    </a>
</p>

@if (Model.Membros.Count == 0)
{
    <div class="vertical-center justify-content-center">
        <h4 class="text-black-hint" align="center">Não há membros inativos</h4>
    </div>
}
else
{
    <table class="table table-bordered table-condensed">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Membros[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Membros[0].Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Membros[0].Cargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Membros[0].DataSaida)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Membros)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataSaida)
                    </td>
                    <td class="text-right">
                        <a asp-page="./Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="material-icons">edit</i>
                        </a>
                        <a asp-page="./Details" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Detalhes">
                            <i class="material-icons">search</i>
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Deletar">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
