@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Membros.IndexModel

<style>
    .id-membro {
        cursor: pointer;
    }
</style>

@{
    ViewData["Title"] = "Membros";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create" type="button" class="btn btn-success">
        <i class="material-icons">add</i>
        Novo membro
    </a>
</p>

@if (Model.Membros.Count == 0)
{
    <div class="vertical-center justify-content-center">
        <h4 class="text-muted" align="center">Não há membros ativos cadastrados no sistema</h4>
    </div>
}
else
{
    <table class="table border table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Membros[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Membros[0].Cargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Membros[0].DataEntrada)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Membros)
            {
                <tr class="id-membro" data-membro="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataEntrada)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    $(".id-membro").click(function () {
        const id_membro = $(this).data('membro');
        window.location.href = "/Dashboard/Membros/Details?id=" + id_membro
    });
</script>
