@page
@model AcquaJrApplication.IndexModel

@{
    ViewData["Title"] = "Membros";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Novo membro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembroViewModel[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembroViewModel[0].Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembroViewModel[0].Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MembroViewModel) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td class="text-right">
                    <a asp-page="./Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-primary">Editar</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-primary">Detalhes</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-primary">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
