@model AcquaJrApplication.ViewsModels.EventoViewModel

<style>
    .inner, .bs-searchbox {
        border-style: groove;
        border-radius: 5px;
    }
</style>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-informacoes-evento-tab" data-toggle="tab" href="#nav-informacoes-evento" role="tab" aria-controls="nav-informacoes-event" aria-selected="true">Informações do evento</a>
        <a class="nav-item nav-link" id="nav-datas-tab" data-toggle="tab" href="#nav-datas" role="tab" aria-controls="nav-datas" aria-selected="false">Datas</a>
        <a class="nav-item nav-link" id="nav-convidados-tab" data-toggle="tab" href="#nav-convidados" role="tab" aria-controls="nav-convidados" aria-selected="false">Convidados</a>
    </div>
</nav>

<form method="post">
    <div class="row">
        <div class="tab-content col-md-4" id="nav-tabContent">
            <br />
            <div class="tab-pane fade show active" id="nav-informacoes-evento" role="tabpanel" aria-labelledby="nav-informacoes-evento-tab">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Nome" class="control-label"></label>
                    <small id="passwordHelpInline" class="text-muted">*</small>
                    <input asp-for="@Model.Nome" class="form-control" />
                    <span asp-validation-for="@Model.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Descricao" class="control-label"></label>
                    <textarea asp-for="@Model.Descricao" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Valor" class="control-label"></label>
                    <input asp-for="@Model.Valor" class="form-control" />
                    <span asp-validation-for="@Model.Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Local" class="control-label"></label>
                    <input asp-for="@Model.Local" class="form-control" />
                    <span asp-validation-for="@Model.Local" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.PontoReferencia" class="control-label"></label>
                    <input asp-for="@Model.PontoReferencia" class="form-control" />
                    <span asp-validation-for="@Model.PontoReferencia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.OutrasInformacoes" class="control-label"></label>
                    <textarea asp-for="@Model.OutrasInformacoes" class="form-control"></textarea>
                    <span asp-validation-for="@Model.OutrasInformacoes" class="text-danger"></span>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-datas" role="tabpanel" aria-labelledby="nav-datas-tab">

            </div>
            <div class="tab-pane fade" id="nav-convidados" role="tabpanel" aria-labelledby="nav-convidados-tab">

            </div>
        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-dark" asp-page="./Index">
            <i class="material-icons">arrow_back</i>
            Voltar
        </a>
        <button type="submit" class="btn btn-primary">
            <i class="material-icons">check</i>
            Salvar
        </button>
    </div>
</form>
