@model AcquaJrApplication.ViewsModels.ClienteViewModel
@using AcquaJrApplication.Models

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.TipoPessoa" class="control-label"></label>
        <select asp-for="@Model.TipoPessoa" asp-items="Html.GetEnumSelectList<TipoPessoa>()" class="form-control">
            <option value="" disabled selected>Selecionar</option>
        </select>
        <span asp-validation-for="@Model.TipoPessoa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NomeFantasia" class="control-label"></label>
        <input asp-for="@Model.NomeFantasia" class="form-control" />
        <span asp-validation-for="@Model.NomeFantasia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RazaoSocial" class="control-label"></label>
        <input asp-for="@Model.RazaoSocial" class="form-control" />
        <span asp-validation-for="@Model.RazaoSocial" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Cpf" class="control-label"></label>
        <input asp-for="@Model.Cpf" class="form-control" onkeypress="return ValidarInputNumerico(event)" />
        <span asp-validation-for="@Model.Cpf" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Cnpj" class="control-label"></label>
        <input asp-for="@Model.Cnpj" class="form-control" onkeypress="return ValidarInputNumerico(event)" />
        <span asp-validation-for="@Model.Cnpj" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.InscricaoEstadual" class="control-label"></label>
        <input asp-for="@Model.InscricaoEstadual" class="form-control" />
        <span asp-validation-for="@Model.InscricaoEstadual" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RgCtps" class="control-label"></label>
        <input asp-for="@Model.RgCtps" class="form-control" />
        <span asp-validation-for="@Model.RgCtps" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Logradouro" class="control-label"></label>
        <input asp-for="@Model.Logradouro" class="form-control" />
        <span asp-validation-for="@Model.Logradouro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PontoReferencia" class="control-label"></label>
        <input asp-for="@Model.PontoReferencia" class="form-control" />
        <span asp-validation-for="@Model.PontoReferencia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Bairro" class="control-label"></label>
        <input asp-for="@Model.Bairro" class="form-control" />
        <span asp-validation-for="@Model.Bairro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Cidade" class="control-label"></label>
        <input asp-for="@Model.Cidade" class="form-control" />
        <span asp-validation-for="@Model.Cidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Cep" class="control-label"></label>
        <input asp-for="@Model.Cep" class="form-control" id="cep" onkeypress="return ValidarInputNumerico(event)" />
        <span asp-validation-for="@Model.Cep" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Estado" class="control-label"></label>
        <input asp-for="@Model.Estado" class="form-control" />
        <span asp-validation-for="@Model.Estado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email" class="control-label"></label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Telefone1" class="control-label"></label>
        <input asp-for="@Model.Telefone1" class="form-control" onkeypress="return ValidarInputNumerico(event)" />
        <span asp-validation-for="@Model.Telefone1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Telefone2" class="control-label"></label>
        <input asp-for="@Model.Telefone2" class="form-control" onkeypress="return ValidarInputNumerico(event)" />
        <span asp-validation-for="@Model.Telefone2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Observacoes" class="control-label"></label>
        <textarea asp-for="@Model.Observacoes" class="form-control"></textarea>
        <span asp-validation-for="@Model.Observacoes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.DataCadastro" class="control-label"></label>
        <input asp-for="@Model.DataCadastro" class="form-control data" />
        <span asp-validation-for="@Model.DataCadastro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<script>
    $('#cep').mask('00000-000');

    $('.data').datepicker({
        locale: 'pt-br'
    });

    $('.data').mask("00/00/0000", { placeholder: "__/__/____" });
</script>
