@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .vertical-center {
        min-height: 50%;
        min-height: 50vh;
        display: flex;
        align-items: center;
    }
</style>

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create" type="button" class="btn btn-sm btn-outline-success">
        <i class="material-icons">add</i>
        Novo cliente
    </a>
</p>

@if (Model.ClienteVM.Count == 0)
{
    <div class="vertical-center justify-content-center">
        <h4 class="text-black-hint" align="center">Não há clientes cadastrados no sistema</h4>
    </div>
}
else
{
    <table class="table table-bordered table-condensed">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteVM[0].NomeFantasia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteVM[0].Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteVM[0].Telefone1)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ClienteVM)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeFantasia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone1)
                    </td>
                    <td class="text-right">
                        <a asp-page="./Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary">Editar</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary">Detalhes</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

