@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].TipoPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].InscricaoEstadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].RgCtps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].PontoReferencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Telefone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Telefone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteViewModel[0].DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClienteViewModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoEstadual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RgCtps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PontoReferencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
