@model AcquaJrApplication.ViewsModels.ProjetoViewModel
@using AcquaJrApplication.Models

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-dados-projeto-tab" data-toggle="tab" href="#nav-dados-projeto" role="tab" aria-controls="nav-dados-projeto" aria-selected="true">Dados do projeto</a>
        <a class="nav-item nav-link" id="nav-orcamento-tab" data-toggle="tab" href="#nav-orcamento" role="tab" aria-controls="nav-orcamento" aria-selected="false">Orçamento</a>
        <a class="nav-item nav-link" id="nav-endereco-tab" data-toggle="tab" href="#nav-endereco" role="tab" aria-controls="nav-endereco" aria-selected="false">Endereço</a>
    </div>
</nav>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="tab-content col-md-4" id="nav-tabContent"><br />
        <div class="tab-pane fade show active" id="nav-dados-projeto" role="tabpanel" aria-labelledby="nav-dados-projeto-tab">
            <div class="form-group">
                <label asp-for="@Model.Nome" class="control-label"></label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <input asp-for="@Model.Nome" class="form-control" />
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Descricao" class="control-label"></label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <textarea asp-for="@Model.Descricao" class="form-control"></textarea>
                <span asp-validation-for="@Model.Descricao" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label class="control-label">Participantes no Projeto</label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <select asp-for="@Model.Membross" asp-items="ViewBag.MembroId" class="selectpicker form-control" title="Selecionar" multiple></select>
            </div>*@
            <div class="form-group">
                <label asp-for="@Model.ClienteId" class="control-label"></label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <select asp-for="@Model.ClienteId" class="form-control" asp-items="ViewBag.ClienteId">
                    <option value="" disabled selected>Selecionar</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ServicoId" class="control-label"></label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <select asp-for="@Model.ServicoId" class="form-control" asp-items="ViewBag.ServicoId">
                    <option value="" disabled selected>Selecionar</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DataContrato" class="control-label"></label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <input asp-for="@Model.DataContrato" class="form-control" />
                <span asp-validation-for="@Model.DataContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DataPrevista" class="control-label"></label>
                <input asp-for="@Model.DataPrevista" class="form-control" />
                <span asp-validation-for="@Model.DataPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DataInicio" class="control-label"></label>
                <input asp-for="@Model.DataInicio" class="form-control" />
                <span asp-validation-for="@Model.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DataConclusao" class="control-label"></label>
                <input asp-for="@Model.DataConclusao" class="form-control" />
                <span asp-validation-for="@Model.DataConclusao" class="text-danger"></span>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-orcamento" role="tabpanel" aria-labelledby="nav-orcamento-tab">
            <div class="form-group">
                <label asp-for="@Model.CustoMaoDeObra" class="control-label"></label>
                <input asp-for="@Model.CustoMaoDeObra" type="text" oninput="calcularOrcamento()" name="CustoMaoDeObra" id="custo-mao-obra" class="form-control orcamento input-orcamento" placeholder="0.00" />
                <span asp-validation-for="@Model.CustoMaoDeObra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CustoProjeto" class="control-label"></label>
                <input asp-for="@Model.CustoProjeto" type="text" oninput="calcularOrcamento()" name="CustoProjeto" id="custo-projeto" class="form-control orcamento input-orcamento" placeholder="0.00" />
                <span asp-validation-for="@Model.CustoProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CustoInsumos" class="control-label"></label>
                <input asp-for="@Model.CustoInsumos" type="text" oninput="calcularOrcamento()" name="CustoInsumos" id="custo-insumos" class="form-control orcamento input-orcamento" placeholder="0.00" />
                <span asp-validation-for="@Model.CustoInsumos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Orcamento" class="control-label"></label>
                <input asp-for="@Model.Orcamento" type="text" name="Orcamento" id="orcamento" class="form-control form-control-lg input-orcamento" placeholder="0.00" readonly />
                <span asp-validation-for="@Model.Orcamento" class="text-danger"></span>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-endereco" role="tabpanel" aria-labelledby="nav-endereco-tab">
            <div class="form-group">
                <label asp-for="@Model.Logradouro" class="control-label"></label>
                <input asp-for="@Model.Logradouro" id="input-logradouro" class="form-control input-endereco" />
                <span asp-validation-for="@Model.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PontoReferencia" class="control-label"></label>
                <input asp-for="@Model.PontoReferencia" id="input-ponto-referencia" class="form-control input-endereco" />
                <span asp-validation-for="@Model.PontoReferencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Bairro" class="control-label"></label>
                <input asp-for="@Model.Bairro" id="input-bairro" class="form-control input-endereco" />
                <span asp-validation-for="@Model.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Cidade" class="control-label"></label>
                <input asp-for="@Model.Cidade" id="input-cidade" class="form-control input-endereco" />
                <span asp-validation-for="@Model.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Cep" class="control-label"></label>
                <input asp-for="@Model.Cep" id="input-cep" class="form-control input-numerico cep input-endereco" />
                <span asp-validation-for="@Model.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Estado" class="control-label"></label>
                <select asp-for="@Model.Estado" id="input-estado" class="form-control custom-select input-endereco">
                    <option value="" disabled selected>Selecionar</option>
                    <option value="Acre">Acre</option>
                    <option value="Alagoas">Alagoas</option>
                    <option value="Amapá">Amapá</option>
                    <option value="Amazonas">Amazonas</option>
                    <option value="Bahia">Bahia</option>
                    <option value="Ceará">Ceará</option>
                    <option value="Distrito Federal">Distrito Federal</option>
                    <option value="Espírito Santo">Espírito Santo</option>
                    <option value="Goiás">Goiás</option>
                    <option value="Maranhão">Maranhão</option>
                    <option value="Mato Grosso">Mato Grosso</option>
                    <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                    <option value="Minas Gerais">Minas Gerais</option>
                    <option value="Pará">Pará</option>
                    <option value="Paraíba">Paraíba</option>
                    <option value="Paraná">Paraná</option>
                    <option value="Pernambuco">Pernambuco</option>
                    <option value="Piauí">Piauí</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                    <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                    <option value="Rondônia">Rondônia</option>
                    <option value="Roraima">Roraima</option>
                    <option value="Santa Catarina">Santa Catarina</option>
                    <option value="São Paulo">São Paulo</option>
                    <option value="Sergipe">Sergipe</option>
                    <option value="Tocantins">Tocantins</option>
                </select>
                <span asp-validation-for="@Model.Estado" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>
