@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Projetos.ConcluidosModel

@{
    ViewData["Title"] = "Projetos concluídos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create" type="button" class="btn btn-light btn-outline-success">
        <i class="material-icons">add</i>
        Novo projeto
    </a>
</p>

@if (Model.Projetos.Count == 0)
{
    <div class="vertical-center justify-content-center">
        <h4 class="text-muted" align="center">Não há projetos concluídos</h4>
    </div>
}
else
{
    <table class="table table-bordered table-condensed">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].Orcamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].DataConclusao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projetos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orcamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataConclusao)
                    </td>
                    <td class="text-right">
                        <a asp-page="./Details" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary" title="Detalhes">
                            <i class="material-icons">search</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
