@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Projetos.ConcluidosModel

<style>
    .id-projeto {
        cursor: pointer;
    }
</style>

@{
    ViewData["Title"] = "Projetos concluídos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create" type="button" class="btn btn-success">
        <i class="material-icons">add</i>
        Novo projeto
    </a>
</p>

@if (Model.Projetos.Count == 0)
{
    <div class="vertical-center justify-content-center">
        <h4 class="text-muted" align="center">Não há projetos concluídos</h4>
    </div>
}
else
{
    <table class="table border table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].Orcamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projetos[0].DataConclusao)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projetos)
            {
                <tr class="id-projeto" data-projeto="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orcamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataConclusao)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    $(".id-projeto").click(function () {
        const id_projeto = $(this).data('projeto');
        window.location.href = "/Dashboard/Projetos/Details?id=" + id_projeto
    });
</script>
