@model AcquaJrApplication.ViewsModels.ServicoViewModel

<style>
    .lbl-checkbox {
        cursor: pointer;
    }
</style>

<form method="post">
    <div class="row">
        <div class="form-group col-6">
            <div class="textfield-box">
                <label asp-for="@Model.Nome" class="control-label"></label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <input asp-for="@Model.Nome" class="form-control" />
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <div class="textfield-box">
                <label asp-for="@Model.Descricao" class="control-label"></label>
                <small id="passwordHelpInline" class="text-muted">*</small>
                <textarea asp-for="@Model.Descricao" class="form-control"></textarea>
                <span asp-validation-for="@Model.Descricao" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="input-status" asp-for="@Model.Status" />
        <label class="custom-control-label lbl-checkbox" for="input-status">@Html.DisplayNameFor(model => model.Status)</label>
    </div>
    <div class="form-group">
        <a class="btn btn-dark" asp-page="./Index">
            <i class="material-icons">arrow_back</i>
            Voltar
        </a>
        <button type="submit" class="btn btn-primary">
            <i class="material-icons">check</i>
            Salvar
        </button>
    </div>
</form>
