@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Servicos.InativosModel

<style>
    .id-servico {
        cursor: pointer;
    }
</style>

@{
    ViewData["Title"] = "Serviços inativos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .descricao-servico {
        max-width: 45ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create" type="button" class="btn btn-success">
        <i class="material-icons">add</i>
        Novo serviço
    </a>
</p>

@if (Model.Servicos.Count == 0)
{
    <div class="vertical-center justify-content-center">
        <h4 class="text-muted" align="center">Não há serviços inativos</h4>
    </div>
}
else
{
    <table class="table border table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Servicos[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servicos[0].Descricao)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Servicos)
            {
                <tr class="id-servico" data-servico="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="descricao descricao-servico" title="@Html.DisplayFor(modelItem => item.Descricao)">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    $(".id-servico").click(function () {
        const id_servico = $(this).data('servico');
        window.location.href = "/Dashboard/Servicos/Details?id=" + id_servico
    });
</script>
