@page
@model AcquaJrApplication.Areas.Dashboard.Pages.Servicos.IndexModel

@{
    ViewData["Title"] = "Serviços";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .descricao {
        max-width: 50ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<partial name="_DashboardNavPartialView" />

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-page="Create" type="button" class="btn btn-sm btn-outline-success">
        <i class="material-icons">add</i>
        Novo serviço
    </a>
</p>

<table class="table table-bordered table-condensed">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servico[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico[0].Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Servico)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="descricao" title="@Html.DisplayFor(modelItem => item.Descricao)">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td class="text-right">
                    <a asp-page="./Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary">Detalhes</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
